<h1>Listing items for user <%= current_user.username %></h1>
 
<table>
  <tr>
    <th>Link</th>
    <th>Link Type</th>
    <th>Description</th>
  </tr>
 
  <% @items.each do |item| %>
    <tr>
      <td><%= item.link %></td>
      <td><%= item.link_type %></td>
      <td><%= item.description %></td>
    </tr>
  <% end %>
</table>
